<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Адрес</th>
      <th>Объектов</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <% if @developer %>
        <td><%= image_tag @developer.avatar.url %></td>
        <%end%>
        <td><%= link_to developer.name, developer %></td>
        <td><%= developer.adress %></td>
        <td><%= developer.buildings.count %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_developer_path(developer) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), developer, method: :delete, data: { confirm: 'Уверены что хотите удалить?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
