
<div class="row">
  <div class="col-md-6">
    <%= image_tag @developer.avatar.url %>
    <p><%= @developer.adress %></p>
  </div>
  <div class="col-md-6">
    <%=raw @developer.description %>
    <%= @developer.created_by %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Объекты застройщика</h2>
  </div>

</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>

    <% @developer.buildings.each do |building| %>
      <tr>
        <td><%= link_to building.name, building %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_building_path(building) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), building, method: :delete, data: { confirm: 'Уверены что хотите удалить?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
