<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @b_queue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @b_queue.description %>
</p>

<p>
  <strong>End date build:</strong>
  <%= @b_queue.end_date_build %>
</p>

<p>
  <strong>Building:</strong>
  <%= @b_queue.building %>
</p>

<%= link_to 'Edit', edit_b_queue_path(@b_queue) %> |
<%= link_to 'Back', b_queues_path %>
