<div class="row title">
  <h1>Пользователи</h1>
  <%= link_to 'Добавить', new_user_path, class: 'btn btn-primary' %>
</div>

<% if notice %>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Внимание!</strong> <%= notice %>
    </div>
<% end %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => ""  %>
</ol>

<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Имя, фамилия</th>
    <th>E-почта</th>
    <th>Роль</th>
    <th>Входил последний раз</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.role.description %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_user_path(user) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), user, method: :delete, data: { confirm: 'Уверены что хотите удалить?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
