<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @b_corpu.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @b_corpu.description %>
</p>

<p>
  <strong>End date build:</strong>
  <%= @b_corpu.end_date_build %>
</p>

<p>
  <strong>B queues:</strong>
  <%= @b_corpu.b_queues %>
</p>

<%= link_to 'Edit', edit_b_corpu_path(@b_corpu) %> |
<%= link_to 'Back', b_corpus_path %>
