<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <% @agent.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Внимание!</strong> <%= message %>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <label for="name">Название</label>
    <%= f.text_field :name, class: 'form-control', id: 'name', placeholder: 'Введите название' %>
  </div>
  <div class="form-group">
    <label for="name">Юридическое лицо </label>
    <%= f.text_field :low_name, class: 'form-control', id: 'name', placeholder: 'Введите название юридического лица' %>
  </div>
  <div class="form-group">
    <label for="name">Почтовый адрес</label>
    <%= f.text_field :adress, class: 'form-control', id: 'name', placeholder: 'Введите почтовый адрес агента' %>
  </div>
  <div class="form-group">
    <label for="name">Контактный телефон</label>
    <%= f.text_field :phone, class: 'form-control', id: 'name', placeholder: 'Введите контактный номер телефона агента' %>
  </div>
  <div class="form-group">
    <label for="description">Комментарии</label>
   <%= f.text_area :comment, rows: 6, class: 'wysihtml5 form-control'%>
  </div>
  <%= f.submit  class: 'btn btn-default' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
</script>
