
<table class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Объект</th>
    <th>Агент (продавец)</th>
    <th>Процент</th>
    <th>Дата начала действия</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @comissions.each do |comission| %>
      <tr>
        <td><%= link_to comission.building.name, comission %></td>
        <td><%= comission.agent.name %></td>
        <td><%= comission.value %></td>
        <td><%= comission.set_date %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_comission_path(comission) %></td>
        <td><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), comission, method: :delete, data: { confirm: 'Уверены что хотите удалить?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

