<div id="corpus-<%= corpu.id %>" class="item_line">
  <%=corpu.name%> - Срок сдачи <%=get_quarter(corpu.end_date_build)%>
  <div class="editable">
    <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_corpu_path(corpu, :building_id => @building_id), remote: true, :class => ''  %>
    <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), corpu, remote: true, :method => :delete, data: {confirm: "Удалить #{corpu.name}"}, :class => '' %>
  </div>
</div>